<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
        {% if page.description %}
            <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
