---
layout: default
article: true
---

<header class="{% if page.dark %}dark{% else %}clean{% endif %}" style="background-image: url({% if page.image.url %}{{ page.image.url }}{% else %}{{ site.cover }}{% endif %}); height: 100%; {% if site.parallax != true %}background-attachment: scroll;{% endif %}" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
{% if page.video %}
    <video id="bg-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" data-stellar-ratio="0.5">
    {% for format in page.video %}
        <source src="{% for url in format limit:1 offset:1 %}{{ url }}{% endfor %}" type="video/{% for type in format limit:1 %}{{ type }}{% endfor %}">
    {% endfor %}
    </video>
{% endif %}
    {% include top.html %}
    <div class="post-info-wrapper">
        <div class="post-info" data-stellar-ratio="0.7">
            <h1>{{ page.title }}</h1>
            {% if page.quote %}
                <h2>{{ page.quote }}</h2>
            {% endif %}
            <a class="site-title" href="{{ site.url }}{{ site.baseurl }}"><div class="site-icon-small" style="background-image: url({{ site.icon }});"></div>{{ site.title }}</a>, in {{ page.date | date_to_long_string }}
        </div>
    </div>
    {% if page.image.source %}
        <div id="img-info" data-stellar-ratio="0.5">
            <a href="{{ page.image.source }}" target="_blank" title="{% if page.video %}Vídeo{% else %}Image{% endif %} Source"><span class="genericon genericon-link"></span></a>
        </div>
    {% endif %}
    <div id="nav-icon" style="bottom: 30px;" data-stellar-ratio="4">
        <a class="scroll" data-speed="500" href="#article"><span class="genericon genericon-expand"></span></a>
    </div>
</header>
<div id="middle">
    <div id="article">
        {{ content }}
    </div>
    {% if site.commentsystem and page.comments != false %}
        <div id="comments">
            {% include comments.html %}
        </div>
    {% endif %}
</div>
{% include footer.html next=page.next %}
<script src="{{ site.baseurl }}/assets/js/smooth-scroll.js"></script>
